{% extends 'base.html' %}

{% block content %}

<h1 class="mb-4">
    ➕ Add Doctor
</h1>

<div class="page-card">

    <form method="POST">

        {% csrf_token %}

        <div class="mb-3">

            <label>Doctor ID</label>

            <input type="number"
                   name="doctor_id"
                   class="form-control"
                   required>

        </div>

        <div class="mb-3">

            <label>Full Name</label>

            <input type="text"
                   name="full_name"
                   class="form-control"
                   required>

        </div>

        <div class="mb-3">

            <label>Specialization</label>

            <input type="text"
                   name="specialization"
                   class="form-control"
                   required>

        </div>

        <div class="mb-3">

            <label>Phone</label>

            <input type="text"
                   name="phone"
                   class="form-control"
                   required>

        </div>

        <div class="mb-3">

            <label>Email</label>

            <input type="email"
                   name="email"
                   class="form-control"
                   required>

        </div>

        <div class="mb-3">

            <label>Consultation Fee</label>

            <input type="number"
                   name="consultation_fee"
                   class="form-control"
                   required>

        </div>

        <div class="mb-4">

            <label>Department</label>

            <select name="department_id"
                    class="form-control"
                    required>

                {% for department in departments %}

                <option value="{{ department.department_id }}">

                    {{ department.department_name }}

                </option>

                {% endfor %}

            </select>

        </div>

        <button class="btn btn-primary w-100 p-3 rounded-4">

            Add Doctor

        </button>

    </form>

</div>

{% endblock %}