{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">

    <h1>
        👨‍⚕️ Doctors Management
    </h1>

    <a href="/add-doctor/"
       class="btn btn-primary px-4 py-2 rounded-4">

        ➕ Add Doctor

    </a>

</div>

<div class="page-card">

    <table class="table table-hover align-middle">

        <thead>

            <tr>

                <th>ID</th>
                <th>Doctor Name</th>
                <th>Specialization</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Fee</th>
                <th>Department</th>
                <th>Actions</th>

            </tr>

        </thead>

        <tbody>

            {% for doctor in doctors %}

            <tr>

                <td>
                    {{ doctor.doctor_id }}
                </td>

                <td>
                    {{ doctor.full_name }}
                </td>

                <td>
                    {{ doctor.specialization }}
                </td>

                <td>
                    {{ doctor.phone }}
                </td>

                <td>
                    {{ doctor.email }}
                </td>

                <td>
                    ₹ {{ doctor.consultation_fee }}
                </td>

                <td>
                    {{ doctor.department.department_name }}
                </td>

                <td>

                    <a href="/update-doctor/{{ doctor.doctor_id }}/"
                       class="btn btn-warning btn-sm">

                        ✏ Edit

                    </a>

                    <a href="/delete-doctor/{{ doctor.doctor_id }}/"
                       class="btn btn-danger btn-sm"
                       onclick="return confirm('Delete doctor?')">

                        🗑 Delete

                    </a>

                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}